table {
  border-collapse: collapse;
  width: 30%;
  text-align: center;
}

th {
  height: 30px;
  text-align: center;
}

th, td {
  padding: 0.8em;
}

.booksmartheader {
  border: 1px;
  padding: 1em;
  text-align: center;
  background-color: black;
  color: white;
  width: 52.55em;
}

.dayofweek {
  color: white;
  background-color: #161616;
}

.sleep {
  background-color: #DEDDDD;
}

.commute {
  background-color: #80FE88;
}

.work {
  background-color: #FE5151;
}

.school {
  background-color: #8EECFE;
}

.actuallynothing {
  background-color: white;
}

.relax {
  background-color: #3C7DFE;
}

.study {
  background-color: #FECC01;
}
